.add-contact {
    display: flex;
    justify-content: space-evenly;

    .contact-form {
        input {
            padding: 5px;
            margin: 5px
        }

        .contact-emoji {
            font-size: 50px;
            vertical-align: middle;
        }
    }
}